.set-fonts {
    
    font-size:medium;
    
  }

  @media only screen and  (max-width: 380px) and (min-width:325px) {
    .set-fonts {
        font-size:x-small;
    }
  }
  @media only screen and  (max-width: 325px)  {
    .set-fonts {
        font-size:xx-small;
    }
  }